<div class="card mx-auto text-center border-light">
  <img src="assets/angular.png" alt="card-img-top" alt="Angular logo">
  <div class="card-body">
    <h5 class="card-title">Angular Projects</h5>
    <p class="card-text">
      A personal blog created with the Angular framework and the Skully static web site generator
    </p>
    <a href="https://angular.io" target="_blank" class="card-link ">Angular</a>
    <a href="https://scully.io" target="_blank" class="card-link ">Scully</a>
  </div>
</div>
